<p id="notice"><%= notice %></p>

<p>
  <strong>Longurl:</strong>
  <%= @url.long_url %>
</p>

<p>
  <strong>Shorturl:</strong>
  <%= @url.short_url %>
</p>

<p>
  <strong>Shortid:</strong>
  <%= @url.short_id %>
</p>

<p>
  <strong>Numberofclick:</strong>
  <%= @url.number_of_click %>
</p>

<p> 
  <strong>Pin:</strong>
  <%= @url.pin %>
</p>

<%= link_to 'Edit', edit_url_path(@url) %> |
<%= link_to 'Back', urls_path %>
